<div class="my-3">
  <form>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Add Todo"
        #post
        [(ngModel)]="title"
        name="title"
        (keyup.enter)="addPost()"
      />
    </div>
  </form>

  <ul class="list-group">
    <li
      *ngFor="let post of posts"
      class="list-group-item d-flex justify-content-between"
    >
      {{ post.title }}
      <div>
        <button class="btn btn-outline-primary mx-3" (click)="editPost(post)">
          Edit
        </button>
        <button class="btn btn-outline-danger" (click)="removePost(post)">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
